ul.mapping-overlays {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

.sortable-row {
    padding: 6px;
    display: flex;
}

.mapping-overlay-open {
    margin-right: 6px;
}

.block-content .mapping-overlays-form > fieldset > fieldset:last-of-type {
    margin-bottom: 24px;
}

.sortable-row.mapping-overlay-editing {
    box-shadow: 0 0 0 1px rgba(0,0,0,.15);
}

.sidebar-tabs-settings .sidebar-tabs-rows > fieldset {
    border: 1px solid #dfdfdf;
    margin: 0 0 12px;
    padding: 12px;
}

.sidebar-tabs-settings .sidebar-tab-handle {
    cursor: move;
    display: inline-block;
    margin-right: 8px;
}

.sidebar-tabs-settings .sidebar-tab-remove {
    margin-top: 6px;
}