.tl-timeline,
.tl-text .tl-headline-date, 
.tl-text h3.tl-headline-date {
  font-family: inherit;
}

.mapping-block.timeline {
  width: 100%;
  display: flex;
}

.mapping-block.timeline > .mapping-timeline {
  flex: 0 0 40%;
  min-width: 0;
  width: 40%;
}

.mapping-block.timeline > .mapping-map {
  flex: 0 0 60%;
  min-width: 0;
  width: 60%;
}

.mapping-block.timeline .tl-timeline {
  height: 100%;
  width: 100%;
}

@media screen and (min-width:640px) {
  .mapping-block.timeline > .mapping-timeline,
  .mapping-block.timeline > .mapping-map,
  .mapping-block.timeline .tl-timeline {
    min-height: 60vh !important;
  }
}


@media screen and (max-width:639px) {
  .mapping-block.timeline {
    display: block;
  }
  
  .mapping-block.timeline > .mapping-timeline,
  .mapping-block.timeline > .mapping-map {
    width: 100%;
  }
}
